$black: #2D2D29;
$danger: #ff8787;
$blue: #556270;
$light-blue: #3CA2A2;
$green: #92C7A3;
$gray: #DFECE6;
$white: #ffffff;
$bg-dark-gray: #404040;
$bg-gray: #f8f8f8;
$active-line: #e8e8e8;
$page-title: #73308d;
$main-gray: #cccccc;
$description-gray: #8c8984;
