@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #2D2D29;
  background: #f8f8f8;
  overflow-x: hidden; }

.form-app-title {
  text-align: center;
  font-size: 100px;
  margin-top: calc(50vh - 50px);
  color: #ffffff;
  text-shadow: 0px 0px 37px white; }

.wrapper {
  display: flex;
  min-height: 100%; }

.sidebar {
  position: absolute;
  width: 220px;
  height: 100%;
  background: #ffffff;
  border-right: solid 1px #e8e8e8; }

.topbar {
  background-color: #ffffff;
  padding-top: 20px;
  text-align: center;
  height: 65px;
  border-bottom: solid 1px #e8e8e8;
  position: absolute;
  width: 100%;
  right: 1px; }

.content {
  flex: 1;
  background: #f8f8f8;
  transform: translate3d(0, 0, 0);
  transition: transform .3s; }

.bot-holder {
  display: block;
  margin: 0 auto;
  width: 350px; }

.app-container {
  margin-top: 85px !important; }

.page-title {
  color: #73308d;
  font-size: 35px; }

.page-description {
  display: inline-block;
  border-top: solid 1px #cccccc;
  padding-top: 5px;
  padding-bottom: 5px; }
  .page-description span {
    color: #8c8984;
    font-weight: 200;
    font-size: 18px; }

.error-msg {
  text-align: center;
  padding: 10px;
  color: #ffffff;
  background-color: #ff8787;
  margin: 10px 10px;
  border: solid 1px #cccccc;
  border-radius: 10px; }

.bg-logo {
  height: 100vh;
  background-image: url("/imgs/purple.png"); }

.app-box {
  -webkit-box-shadow: 0px 0px 6px -1px #ebebeb;
  -moz-box-shadow: 0px 0px 6px -1px #ebebeb;
  box-shadow: 0px 0px 6px -1px #ebebeb;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  border: solid 1px white;
  padding: 20px; }
  .app-box:hover {
    -webkit-box-shadow: 0px 0px 22px -1px #dbdbdb;
    -moz-box-shadow: 0px 0px 22px -1px #dbdbdb;
    box-shadow: 0px 0px 22px -1px #dbdbdb; }

.content.isOpen {
  transform: translate3d(220px, 0, 0); }

.button {
  cursor: pointer; }
  .button:before {
    color: #73308d;
    content: '\f0c9';
    font: 24px fontawesome; }

.exit {
  cursor: pointer; }
  .exit:before {
    color: #73308d;
    content: '\f235';
    font: 24px fontawesome; }

.right-side {
  float: right;
  text-align: right; }

.center-text th, .center-text td {
  text-align: center !important; }

.clean-input input {
  border-bottom: none !important; }

.quotation {
  font-size: 12px; }
  .quotation .coin-quot {
    margin-bottom: 10px; }

.box-title {
  color: #73308d;
  font-size: 20px; }

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.no-padding {
  padding: 0 !important; }

.user-info {
  padding-top: 15px;
  height: 100px;
  background: #ffffff; }
  .user-info .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%; }
  .user-info .user-name {
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .user-info .user-name .name {
      cursor: pointer;
      color: #73308d;
      font-size: 15px;
      font-weight: 500; }
    .user-info .user-name .info {
      font-weight: 300; }

li {
  cursor: pointer; }

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #2D2D29; }

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px; }

.nav li:nth-child(1) a:before {
  content: '\f00a'; }

.nav li:nth-child(2) a:before {
  content: '\f012'; }

.nav li:nth-child(3) a:before {
  content: '\f085'; }

.nav li:nth-child(4) a:before {
  content: '\f0c3'; }

.prov-logo {
  font-size: 25px;
  margin-top: -8px; }

.nav li a:hover {
  box-shadow: inset 5px 0 0 #73308d, inset 6px 0 0 #ffffff; }

.nav li a.active {
  width: calc(100% + 1px);
  box-shadow: inset 5px 0 0 #73308d, inset 6px 0 0 #ffffff;
  background: #f8f8f8;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 1px #e8e8e8; }

.form-comp {
  height: 100vh;
  min-height: 100%;
  background-color: #ffffff;
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
  .form-comp .page-title {
    margin-left: 10px;
    font-size: 30px; }
  .form-comp .page-description {
    margin-left: 10px;
    margin-bottom: 20px; }
  .form-comp .redir-link {
    padding-top: 5px !important; }
    .form-comp .redir-link a {
      color: #73308d;
      text-decoration: underline; }
  .form-comp .btn {
    border-radius: 20px;
    margin-right: 10px;
    background-color: #73308d; }
    .form-comp .btn:hover {
      background-color: #542367; }
  .form-comp .input-field input:focus + label {
    color: #73308d !important; }
  .form-comp .input-field input:focus {
    border-bottom: 1px solid #73308d !important;
    box-shadow: 0 1px 0 0 #73308d !important; }
